<tw-storydata name="covalence" startnode="1" creator="Twine" creator-version="2.2.1" ifid="F8E1B917-580E-41DC-820B-32D204F8A085" zoom="0.6" format="Harlowe" format-version="2.1.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">
</style><script role="script" id="twine-user-script" type="text/twine-javascript">
</script><tw-passagedata pid="1" name="hello world" tags="" position="167,59" size="100,100">the world is vast. you are alone.

[[move forward]]</tw-passagedata><tw-passagedata pid="2" name="move forward" tags="" position="630,60" size="100,100">you are moving. nothing seems to be changing. you move for a long time, until you suddenly bump into something-- a molecule. you

[[talk to it]]
[[keep moving]]</tw-passagedata><tw-passagedata pid="3" name="talk to it" tags="" position="625,204" size="100,100">&quot;oh, hello!&quot; the molecule says.

[[&quot;hi there&quot;]]
[[&quot;hello, who are you?&quot;]]
[[&quot;...&quot;]]</tw-passagedata><tw-passagedata pid="4" name="keep moving" tags="" position="1305.6666666666667,62.33333333333333" size="100,100">the world continues to be vast. you continue on.

you eventually encounter other molecules similar in size and shape to O₂, but a little different. a little smaller. there are many of them, and they all seem to ignore you.

[[approach the new molecules]]
[[continue on]]</tw-passagedata><tw-passagedata pid="5" name="&quot;hi there&quot;" tags="" position="427,439" size="100,100">&quot;pleased to meet you!&quot; chirps the molecule. &quot;bye now!&quot;

[[talk to it]]
[[keep moving]]</tw-passagedata><tw-passagedata pid="6" name="&quot;...&quot;" tags="" position="1000,389" size="100,100">&quot;oh. hum. okay then! have a nice day!&quot; says the molecule, before drifting away.

[[keep moving]]</tw-passagedata><tw-passagedata pid="7" name="&quot;hello, who are you?&quot;" tags="" position="97,278.3333333333333" size="100,100">&quot;i am O₂. who are you?&quot;

[[&quot;i&#39;m oxygen.&quot;]]
[[&quot;i don&#39;t know.&quot;]]
[[&quot;...&quot;]]
[[&quot;why are there two of you?&quot;]]</tw-passagedata><tw-passagedata pid="8" name="&quot;i&#39;m oxygen.&quot;" tags="" position="22,594" size="100,100">&quot;really? wow!&quot; the molecule seems excited. &quot;so we&#39;re the same!&quot;

there is a pause, as the molecule realizes something.

&quot;why are you alone?&quot;

[[&quot;what do you mean?&quot;]]
[[&quot;i&#39;m not alone. i have my electrons.&quot;]]
[[&quot;...&quot;]]
[[&quot;i don&#39;t know.&quot;]]</tw-passagedata><tw-passagedata pid="9" name="&quot;i don&#39;t know.&quot;" tags="" position="238.33333333333331,554" size="100,100">O₂ seems perturbed by this. 

&quot;that&#39;s no good. say, you should find something to share those electrons of yours with! it&#39;d be a lot less &#39;&#39;lonely&#39;&#39;.&quot;

[[&quot;sure, why not.&quot;]]
[[&quot;why would i share my electrons?&quot;]]
[[&quot;...&quot;]]</tw-passagedata><tw-passagedata pid="10" name="&quot;why are there two of you?&quot;" tags="" position="679,560" size="100,100">&quot;uh... what? there&#39;s one of me. i&#39;m just bonded. what&#39;s up with you? why are you alone?&quot;

[[&quot;i don&#39;t know.&quot;]] 
[[&quot;i&#39;m not alone. i have my electrons.&quot;]] 
[[&quot;...&quot;]]</tw-passagedata><tw-passagedata pid="11" name="&quot;what do you mean?&quot;" tags="" position="587,874" size="100,100">&quot;you know, you&#39;re alone! you&#39;re oxygen, but you&#39;re not... /stable/.&quot; O₂ seems impatient.

[[&quot;i don&#39;t know.&quot;]]
[[&quot;...&quot;]]</tw-passagedata><tw-passagedata pid="12" name="&quot;i&#39;m not alone. i have my electrons.&quot;" tags="" position="22,725" size="100,100">&quot;hah! your electrons? but electrons aren&#39;t meant to be all loose and in the open like that. they&#39;re there to help you &#39;&#39;bond&#39;&#39;. you need to share them.&quot;

[[&quot;sure, why not.&quot;]]
[[&quot;why would i share my electrons?&quot;]]
[[&quot;...&quot;]]</tw-passagedata><tw-passagedata pid="13" name="&quot;sure, why not.&quot;" tags="" position="1005,774" size="100,100">&quot;great! i&#39;m going to point you in the direction of someone i know. they might be able to help you with your situation.&quot;

O₂ gives you a bevy of directions, relative heat patterns, and molar densities to follow, before sending you on your way.

&quot;and don&#39;t bother talking to any nitrogen!&quot; they call after you. &quot;it&#39;s tooootally inert!&quot;

[[find O₂&#39;s friend]]</tw-passagedata><tw-passagedata pid="14" name="&quot;why would i share my electrons?&quot;" tags="" position="222.33333333333334,916.6666666666666" size="100,100">&quot;an electron is an awful stressful burden on you alone when it&#39;s not stable. you ought to ease that stress.&quot;

[[&quot;sure, why not.&quot;]]
[[&quot;...&quot;]]</tw-passagedata><tw-passagedata pid="15" name="approach the new molecules" tags="" position="1287.3333333333333,304" size="100,100">&quot;hello,&quot; you say. the molecules don&#39;t respond. they are communicating with each other, but their conversation is incomprehensible to you. one peers at you, then quickly looks back at the other molecule it was speaking with. 

[[continue on]]</tw-passagedata><tw-passagedata pid="16" name="continue on" tags="" position="1812.3333333333335,55.66666666666663" size="100,100">you pass by the molecules. (note: all diatomic, all the same) the world feels a little slower the further you move on, a little less energetic. you move until happening upon the largest molecule you have met so far.

[[&quot;hi&quot;]]
[[&quot;who are you?&quot;]]
[[&quot;....&quot;]]
[[move past the molecule]]</tw-passagedata><tw-passagedata pid="17" name="find O₂&#39;s friend" tags="" position="1320.0000000000002,810.6666666666666" size="100,100">you follow O₂&#39;s directions and eventually find the molecule you think they were talking about. it&#39;s certainly the biggest molecule you&#39;ve seen thus far.

[[&quot;hi&quot;]]
[[&quot;are you O₂&#39;s friend?&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="18" name="&quot;hi&quot;" tags="" position="1597.3333333333335,459" size="100,100">&quot;...&quot;

&quot;hi.&quot;

[[&quot;are you O₂&#39;s friend?&quot;]]
[[&quot;what, that&#39;s it?&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="19" name="&quot;....&quot;" tags="" position="2057.333333333333,150.66666666666663" size="100,100">&quot;hm. if that&#39;s how it&#39;s going to be, then, bye.&quot;

[[move past the molecule]]</tw-passagedata><tw-passagedata pid="20" name="&quot;who are you?&quot;" tags="" position="1407.3333333333335,384" size="100,100">the molecule regards you suspiciously. 

&quot;depends. who&#39;s askin&#39;?&quot;

[[&quot;i am oxygen.&quot;]]
[[&quot;i dunno, who&#39;s askin?&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="21" name="move past the molecule" tags="" position="2552.333333333334,62.333333333333286" size="100,100">you continue on your way. you pass by a few other molecules, but are too far away to interact with any of them. dev note: the environment begins &quot;warming up&quot; here, i&#39;m thinking that this might be best represented by just an orange or red tint. maybe ambient particle effects to represent photons if at all possible.

[[continue moving]]</tw-passagedata><tw-passagedata pid="22" name="&quot;are you O₂&#39;s friend?&quot;" tags="" position="1636.666666666667,840.6666666666666" size="100,100">the molecule stares at you for a moment. 

&quot;sure, i know O₂. who&#39;s askin&#39;?&quot;

[[&quot;i am oxygen.&quot;]]
[[&quot;i dunno, who&#39;s askin?&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="23" name="&quot;i am oxygen.&quot;" tags="" position="1886.666666666667,840.6666666666666" size="100,100">&quot;oxygen. interestin&#39;.&quot;

&quot;i&#39;m &#39;&#39;carbon dioxide&#39;&#39;. CO2. what was it that you wanted, again?&quot;

[[&quot;O2 said you could tell me about bonding.&quot;]] 
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="24" name="&quot;i dunno, who&#39;s askin?&quot;" tags="" position="1836.6666666666667,555.6666666666666" size="100,100">&quot;whattaya mean, who&#39;s askin&#39;? i&#39;m askin&#39; you who&#39;s askin&#39;.&quot;

[[&quot;i&#39;m askin&#39; you who&#39;s askin&#39; me.&quot;]]
[[&quot;aaaaaaah!&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="25" name="&quot;i&#39;m askin&#39; you who&#39;s askin&#39; me.&quot;" tags="" position="2028.3333333333335,557.3333333333333" size="100,100">&quot;alright, this is getting confusing. i&#39;m &#39;&#39;carbon dioxide&#39;&#39;. but feel free to call me CO2.&quot;

[[&quot;and i&#39;m oxygen.&quot;]]
[[&quot;O2 said you could tell me about bonding.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="26" name="&quot;aaaaaaah!&quot;" tags="" position="2373.333333333333,197.3333333333333" size="100,100">&quot;aaaaaaaaaaaaah!&quot;

[[&quot;aaaaaaaaaaaaaaaaaaaaaaah!&quot;]]
[[&quot;calm down!&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="27" name="&quot;aaaaaaaaaaaaaaaaaaaaaaah!&quot;" tags="" position="2185,532.3333333333333" size="100,100">&quot;oh, for the love of-- who the heck are you?&quot;

[[&quot;i am oxygen.&quot;]]
[[&quot;your worst nightmare.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="28" name="&quot;calm down!&quot;" tags="" position="2441.6666666666665,345.66666666666663" size="100,100">&quot;calm down? you&#39;re the one who was screaming!&quot; 

&quot;okay, okay. who the heck are you, what the heck can i do for you?&quot;

[[&quot;i am oxygen.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="29" name="&quot;your worst nightmare.&quot;" tags="" position="2646.666666666667,403.9999999999999" size="100,100">&quot;my wh-- haha! are you the heat death of the universe?&quot;

[[&quot;no?&quot;]]
[[&quot;hey, same worst nightmare!&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="30" name="&quot;and i&#39;m oxygen.&quot;" tags="" position="2300.0000000000005,768.9999999999999" size="100,100">&quot;alright, glad we got that out of the way.&quot;

[[&quot;O2 said you could tell me about bonding.&quot;]] </tw-passagedata><tw-passagedata pid="31" name="&quot;O2 said you could tell me about bonding.&quot;" tags="" position="2356.666666666667,580.6666666666666" size="100,100">&quot;bonding? why do you wanna know about--&quot; the molecule stops, and looks you over. &quot;...ohhhh. weird. you&#39;re by yourself, huh? bummer.&quot;

[[&quot;yeah, i guess...&quot;]]
[[&quot;so i&#39;ve been told.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="32" name="continue moving" tags="" position="3022.333333333334,38.99999999999996" size="100,100">dev note: as the player continues, things start getting fuzzier/fainter-- maybe this is represented by the world slowing, turning to grayscale, background music fading out, etc. if they continue to move for a certain distance (pass a certain checkpoint) the game stops, and they are met with a GAME OVER screen. it reads as follows:

&quot;you were unable to figure out how to bond. you&#39;re doomed to drift around, lonely, for eternity... or until you finally bond with another atom. hey, at least you still have your valence electrons.&quot;

[[hello world]]
[[CREDITS]]</tw-passagedata><tw-passagedata pid="33" name="&quot;yeah, i guess...&quot;" tags="" position="2858.333333333333,368.9999999999999" size="100,100">&quot;you&#39;re tryin&#39; to figure out how to bond, the first step is finding other lonely molecules. you aren&#39;t gonna be able to bond with me, or O2. cause we don&#39;t have our electrons just hangin&#39; out there, you know?&quot;

[[&quot;where am i supposed to find other lonely molecules?&quot;]]
[[&quot;i&#39;m really not sure...&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="34" name="&quot;no?&quot;" tags="" position="2568.3333333333335,588.9999999999999" size="100,100">&quot;are you asking me? do you not know whether or not you&#39;re the harbinger of the apocalypse?&quot;

[[&quot;i&#39;m confused.&quot;]]
[[&quot;i am oxygen.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="35" name="&quot;hey, same worst nightmare!&quot;" tags="" position="2721.6666666666665,183.99999999999986" size="100,100">&quot;haha, yeah, the heat death of the universe is pretty freakin&#39; terrifying. anyways, who are you?&quot;

[[&quot;i am oxygen.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="36" name="&quot;i&#39;m confused.&quot;" tags="" position="2548.333333333333,774" size="100,100">&quot;yeah, me too. let&#39;s start over. who the heck are you?&quot;

[[&quot;i am oxygen.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="37" name="&quot;so i&#39;ve been told.&quot;" tags="" position="2759.9999999999995,707.3333333333334" size="100,100">[[GOES TO NEXT DIALOGUE POINT]]</tw-passagedata><tw-passagedata pid="38" name="CREDITS" tags="" position="5065.666666666668,148.9999999999999" size="100,100"></tw-passagedata><tw-passagedata pid="39" name="&quot;where am i supposed to find other lonely molecules?&quot;" tags="" position="3118.333333333333,415.6666666666665" size="100,100">&quot;i can&#39;t say for certain, but you gotta go where feels right. where it feels a little more... exciting.&quot;

[[&quot;...okay.&quot;]]
[[&quot;where things feel more &#39;exciting&#39;? that&#39;s literally the least helpful thing you could have said.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="40" name="&quot;i&#39;m really not sure...&quot;" tags="" position="2838.333333333333,597.3333333333334" size="100,100">[[GOES TO NEXT DIALOGUE POINT]]</tw-passagedata><tw-passagedata pid="41" name="GOES TO NEXT DIALOGUE POINT" tags="" position="2938.333333333333,759" size="100,100">&quot;...are you sure you wanna be bonded? cause i mean, you don&#39;t have to. it&#39;s not a very stable existance, especially you being oxygen and all, but. you don&#39;t have to.&quot;

[[&quot;no, i wanna&quot;]]
[[&quot;maybe i don&#39;t. it&#39;s a lot of pressure.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="42" name="&quot;no, i wanna&quot;" tags="" position="3084.9999999999995,627.3333333333333" size="100,100">&quot;okay.&quot;

[[&quot;where am i supposed to find other lonely molecules?&quot;]]</tw-passagedata><tw-passagedata pid="43" name="&quot;maybe i don&#39;t. it&#39;s a lot of pressure.&quot;" tags="" position="3329.9999999999995,750.6666666666666" size="100,100">&quot;then don&#39;t. drift on. be unbonded. maybe i&#39;ll see you around sometime.&quot;

[[drift on]]</tw-passagedata><tw-passagedata pid="44" name="&quot;...okay.&quot;" tags="" position="3443.333333333333,180.6666666666664" size="100,100">&quot;that&#39;s really all i can tell you. the thing about bonding is you never really know when, or if, it&#39;ll happen. cause we&#39;re all just playthings of fate, right?&quot;

[[&quot;i guess?&quot;]]

[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="45" name="&quot;where things feel more &#39;exciting&#39;? that&#39;s literally the least helpful thing you could have said.&quot;" tags="" position="3245,310.66666666666646" size="100,100">&quot;jeez, bud, you sound a little ansty. you totally sure you wanna do this?&quot;

[[&quot;...okay.&quot;]]
[[&quot;maybe i don&#39;t. it&#39;s a lot of pressure.&quot;]]
[[&quot;....&quot;]]</tw-passagedata><tw-passagedata pid="46" name="drift on" tags="" position="3779.9999999999995,685.6666666666666" size="100,100">dev note: as soon as the player moves far enough that CO2 is off screen, the game stops, and they are met with a GAME OVER screen, which reads:

&quot;you decided that bonding wasn&#39;t for you. that&#39;s okay. your existence will be an unstable one, unbound to any other atom. unless you would like to try that again?&quot;

[[CREDITS]]
[[hello world]]</tw-passagedata><tw-passagedata pid="47" name="&quot;i guess?&quot;" tags="" position="3588.333333333333,22.333333333333044" size="100,100">&quot;alright. see ya, l&#39;il dude. good luck.&quot;

[[&quot;see you.&quot;]]</tw-passagedata><tw-passagedata pid="48" name="&quot;see you.&quot;" tags="" position="3611.6666666666665,225.6666666666664" size="100,100">dev note: as the player continues on from this encounter, the background color changes, gets a little warmer (more orange/red), and if we&#39;re doing particle effects those are poppin. this is meant to represent the increasing heat of the environment. eventually, the player encounters completely new molecules-- little monoatomic hydrogen molecules. they aren&#39;t face toward the player as the player approches.

[[greet the hydrogen]]</tw-passagedata><tw-passagedata pid="49" name="greet the hydrogen" tags="" position="3786.6666666666665,30.6666666666664" size="100,100">&quot;hello?&quot; the player says. one of the hydrogen molecules turns to meet the player.

&quot;oh! wow, hello!&quot; the hydrogen molecule says, then pausing before its next line, (maybe represented by a &quot;....&quot;)

&quot;i&#39;m sorry, this is a little forward, but i really like your electrons. can i share one?&quot;

[[&quot;of course.&quot;]]
[[&quot;no, what? that&#39;s weird.&quot;]]</tw-passagedata><tw-passagedata pid="50" name="&quot;of course.&quot;" tags="" position="4103.333333333333,45.6666666666664" size="100,100">&quot;yay! i&#39;m excited! oh, one sec, i think my friend is interested in sharing your other electron...&quot;

dev note: a second hydrogen comes over from the group. there&#39;s maybe a jump cut (or some shit equivalent) to oxygen being bonded with both hydrogens. GAME OVER screen reads:

&quot;you bonded with some friendly HYDROGEN, and found yourself becoming something entirely new... WATER! as WATER, your options in the world are even greater. you&#39;re a lifebringer, a constant, a precious resource. congratulations!&quot;

[[hello world]]
[[CREDITS]]</tw-passagedata><tw-passagedata pid="51" name="&quot;no, what? that&#39;s weird.&quot;" tags="" position="3856.6666666666665,207.33333333333306" size="100,100">&quot;oh... are you sure?&quot;

[[&quot;...fine, whatever, we can share.&quot;]]
[[&quot;i am absolutely positive. go away.&quot;]]</tw-passagedata><tw-passagedata pid="52" name="&quot;...fine, whatever, we can share.&quot;" tags="" position="4001.6666666666665,217.333333333333" size="100,100">dev note: this leads to the same response as the &quot;of course&quot; option from the previous step.

[[&quot;of course.&quot;]]</tw-passagedata><tw-passagedata pid="53" name="&quot;i am absolutely positive. go away.&quot;" tags="" position="3741.6666666666665,432.3333333333331" size="100,100">dev note: the hydrogen turns away without another word. pretty much right afterwards, the GAME OVER screen pops up, reading:

&quot;well, uh... i guess you weren&#39;t feel the whole bonding thing. alright. whatever, man. unless you want to try again?&quot;

[[hello world]]
[[CREDITS]]</tw-passagedata><tw-passagedata pid="54" name="&quot;what, that&#39;s it?&quot;" tags="" position="1950.6666666666667,342.3333333333333" size="100,100">&quot;whaddaya want from me? i don&#39;t even know you, weirdo.&quot;

dev note: this ends the conversation with CO2

[[move past the molecule]]</tw-passagedata></tw-storydata>

